.form-signin {
    max-width: 430px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin form {
    margin-top: 10px;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .first-input {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.form-signin input {
    margin-bottom: -1px;
    border-radius: 0;
}
.form-signin .last-input {
    margin-bottom: 10px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.mono {
    font-family: monospace;
}
.nolink {
    cursor: inherit;
}
.dropdown-menu > li > a:hover.nolink {
    background-color: #FFFFFF;
}

.margin-bottom {
    margin-bottom: 10px;
}
#bs-example-navbar-collapse-1 > .nav > li > a {
    display: inline-block;
}
.form-control.failed {
    border-color: #f00;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 3, 3, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 3, 3, 0.6);
}
.mo-graph {
    height: 250px;
}
.tab-pane > form,
.tab-pane > .alert {
    margin-top: 10px;
    margin-bottom: 10px;
}
.bootstrap-datetimepicker-widget {
    z-index: 99999;
}
.action-modify,
.action-remove,
.action-view {
    font-size: 1.5em;
}
